/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/*
Polar Night (dark grays)
nord0  #2e3440 - (46,52,64)
nord1  #3b4252 - (59,66,82)
nord2  #434c5e - (67,76,94)
nord3  #4c566a - (76,86,106)
Snow Storm (bright grays)
nord4  #d8dee9 - (216,222,233)
nord5  #e5e9f0 - (229,233,240)
nord6  #eceff4 - (236,239,244)
Frost (bluish colors)
nord7  #8fbcbb - (143,188,187)
nord8  #88c0d0 - (136,192,208)
nord9  #81a1c1 - (129,161,193)
nord10 #5e81ac - (94,129,172)
Aurora (bright accent colors)
nord11 #bf616a - (191,97,106)
nord12 #d08770 - (208,135,112)
nord13 #ebcb8b - (235,203,139)
nord14 #a3be8c - (163,190,140)
nord15 #b48ead - (180,142,173)
*/

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

@define-color elembg #445162;
@define-color hoverelembg #6D87A2;



/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  color: #eceff4;
  background-color: #1C1C23;
  background-color: rgba(29, 29, 35, 0);
  /* background-color: #00FF00; */
  font-family: JetBrainsMonoNerdFont;
  font-size: 13px;
}



.modules-left>widget:first-child>* {
  margin-left: 5px;
}


.modules-right>widget:last-child>* {
  margin-right: 5px;
}

tooltip label {
  font-family: JetBrainsMonoNerdFont;
  font-size: 13px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

/* Common module settings*/
#window,
#network,
#privacy,
#custom-updates,
#custom-pacman,
#custom-keyboard-layout,
#cpu,
#temperature,
#disk,
#memory,
#wireplumber,
#battery,
#idle_inhibitor,
#backlight,
#bluetooth,
#tray,
#clock,


#custom-settings,
#custom-power,
#custom-reboot,
#custom-reboot-uefi,
#custom-log-off,
#custom-suspend,
#custom-lock {
  background: @elembg;
  padding: .1rem 1rem;
  margin-right: 1px
}

#window:hover,
#network:hover,
#privacy:hover,
#custom-updates:hover,
#custom-pacman:hover,
#custom-keyboard-layout:hover,
#cpu:hover,
#temperature:hover,
#disk:hover,
#memory:hover,
#wireplumber:hover,
#battery:hover,
#idle_inhibitor:hover,
#backlight:hover,
#bluetooth:hover,
#tray:hover,
#tray .active:hover,
#clock:hover,
#custom-settings:hover,
#custom-power:hover,
#custom-reboot:hover,
#custom-reboot-uefi:hover,
#custom-log-off:hover,
#custom-suspend:hover,
#custom-lock:hover {
  background: @hoverelembg;
}

#custom-launcher,
#window,
#network,

#custom-launcher,
#custom-power {
  padding-right: 1.1rem;
}



#cpu:hover,
#custom-settings:hover {
  background-image: url('chevron-right.svg');
  background-repeat: no-repeat;
  background-position: right center;
}

#window {
  border-style: hidden;
}

#privacy {
  color: #ebcb8b;
  background: @elembg;
  margin-left: 1px
}

#privacy:hover {
  color: #ebcb8b;
  background: @hoverelembg;
}

#wireplumber.muted,
#bluetooth.off,
#idle_inhibitor.deactivated {
  color: #88c0d0;
}

#cpu.warning,
#memory.warning,
#battery.warning {
  color: #d08770;
  background: rgba(208, 135, 112, 0.1);
}

#cpu.warning:hover,
#memory.warning:hover,
#battery.warning:hover {
  background: rgba(208, 135, 112, 0.3);
}


#network.disabled,
#network.disconnected,
#cpu.critical,
#memory.critical,
#temperature.critical,
#battery.critical {
  color: #bf616a;
  background: rgba(191, 97, 106, 0.1);
}


#network.disabled:hover,
#network.disconnected:hover,
#cpu.critical:hover,
#memory.critical:hover,
#temperature.critical:hover,
#battery.critical:hover {
  background: rgba(191, 97, 106, 0.3);
}

@keyframes blink {
  to {
    color: #4c566a;
    background-color: #eceff4;
  }
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#workspaces button {
  background-color: #373737;
  margin-left: 1px;
}

#workspaces button.active {
  background: @elembg;
}

#window {
  background: @elembg;
  margin-left: 5px;
}

#custom-mpd {
  background-color: @elembg;
  padding-left: 5px;
  padding-right: 5px;
}
